
.MainBorder{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 3px;
  margin: 10px;
}


.containertable td, th{
  padding:15px 13px;
  border: 0.5px solid rgb(170, 170, 170);
  text-align: center;
  width: 500px;
}

.containertable th{
 text-align: left;
 padding:15px 13px;
}

.containertable td, th:first-child{
  width: 10px;
}



.crear{
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  background-color: hsl(172, 64%, 54%);
  padding: 10px;
}

.crear h3{
  padding-top: 4px;
  color: #ecfefd;
  font-size: 20px;
}

.crear button{
  width: 140px;
  background-color:rgb(35, 35, 134) ;
  outline: none;
  border: 0.5px solid black;
  color: #ecfefd;
}

.crear button i{
  padding-right: 5px;
}


#root{
  margin: 0;
  padding: 0;
}

@media (min-width:1274px) and (max-width: 3000px) {
  .navbar{
    width: 100%;
  }
}

.ListaProductos{
  text-align: left;
}

