
.MainBorder{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 3px;
  margin: 10px;
}


.containertable td, th{
  padding:10px 13px;
  border: 0.5px solid rgb(170, 170, 170);

}



.busqueda input{
  height: 33px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.busqueda label {
  font-size: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  padding: 0px 10px;
}

.containertable th{
 text-align: left;
 padding:15px 13px;
 width: 10%;
}

.tbutton{
  display: flex;
  justify-content: space-around;
}



.crear{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 20px;
  background-color: hsl(172, 64%, 54%);
  padding: 10px;
}



.crear h3{
  padding-top: 4px;
  color: #ecfefd;
  font-size: 20px;
}

.crear button{
  width: 140px;
  background-color:rgb(35, 35, 134) ;
  outline: none;
  border: 0.5px solid black;
  color: #ecfefd;
}

.crear button i{
  padding-right: 5px;
}


#root{
  margin: 0;
  padding: 0;
}

@media (min-width:1274px) and (max-width: 3000px) {
  .navbar{
    width: 100%;
  }
}

.ListaProductos{
  text-align: left;
}

